/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////// END OF CSS RESET ////////////////*/

:root {
	--logo-banner-height: 150px;
	--left-margin: 40px;
	font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
}

.container-left {
    width: 40%;
	flex: 0 0 auto;
    overflow: hidden;
}

.splash-img {
    height: 100vh;
    position: relative;
    left: -400px;
    display: block;
    padding-right: 100px;
}

.logo {
	position: absolute;
	font-family: 'DynaPuff', cursive;
	top: calc(50vh - calc(var(--logo-banner-height) / 2));
	width: 40%;
}

.logo > .bg {
	height: var(--logo-banner-height);
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.logo img {
	height: 80%;
}

.logo p {
	font-size: 68px;
	color:rgb(239, 239, 239);
	-webkit-text-stroke: 1px black;
}

.container-right {
    width: 70%;
	background-color: rgb(246, 246, 246);
}

.container-right > p {
	margin-left: var(--left-margin);
}

.intro-text {
	display: block;
	line-height: 1.1;
	margin-top: 100px;
	margin-bottom: 50px;
	width: 75%;
	font-size: 22px;
	font-weight: 500;
}

.intro-text > em {
	font-style: italic;
}

.form-box {
	padding: 20px var(--left-margin);
	padding-bottom: 30px;
	background-color: #fff;
	box-shadow: 2px 3px 4px  rgba(0, 0, 0, 0.351);
	margin-bottom: 30px;
}

.form-box > p {
	font-size: 22px;
	font-weight: 500;
	color: rgb(63, 70, 80);
}

.info {
	display: flex;
	flex-wrap: wrap;
	gap: 10%;
	text-transform: uppercase;
	color:rgb(58, 43, 76);
	font-weight: 600;
	font-size: 13px;
	letter-spacing: .15ch;
}

.info input, .info label {
	display: block;
}

.info > div {
	margin-top: 25px;
}

.info label {
	margin-bottom: 3px;
}

.info input {
	height: 2.25em;
	width: 250px;
}

form > button {
	color:rgb(246, 246, 246);
	font-weight: 500;
	font-size: 18px;
	margin-left: var(--left-margin);
	padding: 14px 28px;
	border: none;
	border-radius: 6px;
	background-color: rgb(38, 139, 93);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.351);
}

.login {
	margin-top: 30px;
}

.login > a {
	font-weight: 700;
	text-decoration: none;
	color:rgb(38, 139, 93);
}

.login > a:hover {
	text-decoration: underline;
}

form input:invalid:not(:placeholder-shown) {
	border: 2px solid red;
	border-radius: 4px
}

form input:valid:not(:placeholder-shown) {
	border: 2px solid green;
	border-radius: 4px
}